.mobileOnly{
    display:none;

}
.desktopOnly{
    display: inline-block;
}
@media (max-width: 600px) {
    .mobileOnly{
        display: inline-block;
    }
    .desktopOnly{
        display: none;
    }
}